extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to detail
 else
  - let shoesid = toShow._id
  - let shoes_type = toShow.shoes_type
  - let shoes_name = toShow.shoes_name
  - let shoes_cost = toShow.shoes_cost
 div
  div.row
   div(class='shoesAttr mr-3') Shoes ID is:
   div #{shoesid}
  div.row
   div(class='shoesAttr mr-3') Shoes Type is:
   div #{shoes_type}
  div.row
   div(class='shoesAttr mr-3') Shoes Name is:
   div #{shoes_name}
  div.row
   div(class='shoesAttr mr-3') Shoes Cost is:
   div #{shoes_cost}